@media screen and (max-width:1100px){
    .container{
        padding: 0 20px;
    }

    .availability-form{
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .availability-label{
        margin-bottom: 10px;
    }

    .destination-list{
        grid-column-gap:10px ;
        grid-row-gap:10px ;
    }
}

@media screen and (max-width:900px){
    .hotels-list{
        display: flex;
        flex-direction: column;
    }
    .hotels-list-items{
        justify-content: center;
    }
    .feedback-block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .feedback-block-item{
        margin: 10px;
    }

    .footer-content{
        flex-direction: column;
    }
    .footer-logo{
        margin-right: 0;
    }
    .info-block{
        margin-right: 10px;
    }
    .hotel-info-block{
        padding: 10px;
    }
    .hotel-slots{
        margin-bottom: 20px;
    }
}

@media screen and (max-width:768px){
    
    .hero-title{
        font-size:30px ;
    }

    .header{
        margin-bottom: 100px;
    }
    .header-content{
        flex-direction: column;
    }

    .header-nav-list{
        justify-content: space-between;
    }

    .header-nav-list-item{
        margin-left: 0;
    }

    .header-nav{
        width: 100%;
    }

    .hero-form-input{
        width: 320px;
    }

    .hotels-filter-list{
        flex-direction: column;
        align-items: center;
    }
    .hotels-filter-button{
        margin-bottom: 10px;
    }
}