@font-face{

    font-family: "Forte MT";
    
    src: url('../fonts/WebFont.eot');
    
    src: url('../fonts/ForteMt.ttf') format('truetype');
    
    font-weight: bold;
    
    font-style: normal;
    
    }



@font-face {
    font-family: "Proxima Nova";
    src: url('./ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova Lt";
    src: url('./ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}